version: '3.8'

services:
  pdf2html:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - GIN_MODE=release
    volumes:
      - ./temp:/app/temp
    command: ./pdf2html-app